<div class="container-fluid footer-container">
    <div class="container footer-content-container">
        <div class="row footer-row">
            <div class="col-md-12 footer-text">
                <section class="copyright">&copy; {{date format="YYYY"}} <a href="{{@blog.url}}">{{@blog.title}}</a></section>
            </div>
        </div>
    </div>
</div>
